.nav-contain{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    padding: 2rem 0;
    justify-content: space-around;
    background-color: rgba(90, 0, 87, 0.575);
    
}

.name{
    padding: 1px;
}
.title{
    padding-top: 1%;
}

.ul-head{
display: flex;
justify-content: space-between;
}
/* .nav-contain{
    width: 40%;
} */

li {
 list-style-type: none;   
}
.nav-contain img{
    width: 45%;
    border-radius: 50%;
}